<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Biblioteca para usar a rede (LOCAL/EXTERNA), permissão do usuario -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Biblioteca para usar os hardwares IO, permissão do usuario -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE " />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="android.permission.OVERRIDE_WIFI_CONFIG"
        android:protectionLevel="signature|privileged" />

    <uses-permission
        android:name="android.permission.OVERRIDE_WIFI_CONFIG"
        android:protectionLevel="signature|privileged"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" /> <!-- Biblioteca para controlar a ação dos botões home/voltar/menu do android, permissão do usuario -->
    <uses-permission android:name="android.permission.REORDER_TASKS" /> <!-- Biblioteca para usar o o bluetooth do android, permissão do usuario -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.NETWORK_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permissão aqui -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Biblioteca para verificar a conexão wifi, permissão do usuario -->
    <!-- Permissão aqui -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Biblioteca para acesso a galeria de imagem externa do celular -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".bluetooth.Global"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".fragments.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Configuracao"
            android:parentActivityName=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bluetooth.Comunicacao_Service_Bluetooth"
            android:parentActivityName=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bluetooth.Main_Bluetooth"
            android:parentActivityName=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Leitura"
            android:parentActivityName=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.AddClass"
            android:parentActivityName=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.ListPecaClas"
            android:parentActivityName=".fragments.Inicial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.Login"
            android:screenOrientation="portrait" />
        <service
            android:name=".bluetooth.Service_GATT"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>